/*

!/.github
!/schemas
!/t

!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!README.md
!STABILITY.md
!TEMPLATE
!VERSION
!cpanfile
!example
!release
!rulesets.yaml

!.editorconfig
!.gitattributes
!.gitignore
!.mailmap
!.perltidyrc
!.perlcriticrc
!.replyrc